.header-container {
    background-image: url('/static/home-page/puppies.jpg');
    background-size: cover;
    opacity: 0.9;
    width: 100vw;
    height: 85vh;
    position: relative;
}

@supports (background-image: -webkit-image-set(url('/static/home-page/puppies.webp') 1x)) {
    .header-container {
        background-image: -webkit-image-set(url('/static/home-page/puppies.webp') 1x)
    }
}

.header-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-text {
    font-size: 6em;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}