{{ template "base" . }}

{{ define "content" }}

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Dog Breeds</h1>
                <p>This page provides information about selected dog breeds.</p>
            </div>
        </div>
    </div>

{{ end }}