{{ template "base" . }}

{{ define "content" }}

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the Home Page</h1>
                <p>This is the main content of the home page.</p>
            </div>
        </div>
    </div>

{{ end }}